body {
	font-family: Arial;
	font-size:15px;
	background-color:#69C3C9;
}

select {
	font-size:17px;
}

#top {
	display:flex;
}

div {
	display:inline-block;
}

#calendarHeader {
	width:840px;
	display:flex;

}

.dayHeader {
	width:118px;
	display:inline-block;
	text-align: center;
	border:1px solid;
	padding: 10px 0;
	background-color: #EE9436;
}

.weekend {

}

#calendarRender {
	width:840px;
	display:flex;
	flex-wrap:wrap;
}

.day {
	width:118px;
	height:48px;
	display:inline-block;
	text-align: center;
	border:1px solid;
	padding: 10px 0;
	background-color: #F9E24F;
}

.blank {
	width:118px;
	height:48px;
	display:inline-block;
	text-align: center;
	border:1px solid #69C3C9;;
	padding: 10px 0;
	background-color: #69C3C9;
}